body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(45deg, #ff0099, #493240, #00f2ff, #ffcf00);
  background-size: 600% 600%;
  animation: gradient 20s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
